* {
    margin:0;
    padding:0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    list-style:none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

body {
    font-family:-apple-system, 'Helvetica Neue', Helvetica, sans-serif;
    padding:0 50px;
}

a:link, a:active, a:visited {
    color:#0076FF;
    text-decoration: none;
}
a:hover {
    text-decoration:underline;
}

header#master-header {
    margin:40px 0 50px 0;
    display: table;
    width: 100%;
    height:74px;
}

header#master-header h1 a {
    color:#4C4C4C;
}
header#master-header h1 a:hover {
    color:#0076FF;
}
header#master-header h1 {
    float: left;
}

header#master-header ul {
    float: right;
}

header#master-header ul li {
    display: inline;
    margin-right: 20px;
}

header#master-header ul li a {
    font-weight:500;
}

@media only screen and (max-width: 600px) {
    
    header#master-header h1,
    header#master-header ul {
        float: none;
    }
    
}

ul#shortcuts-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 290px);
    grid-auto-rows: auto;
    grid-gap: 1rem;
    justify-content: space-evenly;
}

ul#shortcuts-list li {
    border:1px solid #C0C0C0;
    border-radius: 8px;
    cursor:pointer;
    transition:transform 0.4s, background-color 0.3s, box-shadow 0.6s;
    box-shadow:0 5px 12px rgba(0,0,0,0);
}

ul#shortcuts-list li:hover {
    transform:scale(1.08);
    background-color:white;
    box-shadow:0 5px 12px rgba(0,0,0,0.2);
}

ul#shortcuts-list li div {
    height: 100%;
}

ul#shortcuts-list li div a {
    padding: 16px;
    height: calc(100% - 2 * 16px);
}

ul#shortcuts-list li div a:hover {
    text-decoration: none;
}

h2.shortcut-title {
    font-weight:600;
    font-size:18px;
    color:#101010;
    margin-bottom:16px;
}

div.shortcut-card a {
    display: flex;
    flex-direction: column;
}

div.shortcut-card p.shortcut-summary {
    flex-grow: 1;
    font-size:14px;
    color:#4C4C4C;
    margin-bottom:16px;
}

div.shortcut-card p.shortcut-details {
    font-size:13px;
    color: #6C6C6C;
}

footer#master-footer {
    display:block;
    margin-top:70px;
}

footer#master-footer p {
    font-size:12px;
    color:#4C4C4C;
    margin-bottom:6px;
}

form input {
    display:block;
}
form input[type="text"] {
    border:1px solid #CCC;
    padding:5px;
    border-radius: 4px;
    font:16px -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
    margin:0 0 16px 0;
    width:50%;
}

form button {
    margin-top:16px;
    padding:6px 12px;
    background-color:#0076FF;
    color:white;
    cursor:pointer;
    display:block;
    border:none;
    font:14px -apple-system, 'Helvetica Neue', Helvetica, sans-serif;
    font-weight:500;
    text-transform:uppercase;
    border-radius: 6px;
}

.bottom-space {
    margin-bottom:20px;
}

article p {
    padding:16px 0;
}
